<div class="button__group">
  @if (showFilterButton) {
    <button (click)="changeFilters()" [class.button_secondary]="!_showFilter" [class.button_primary]="_showFilter">
      <itsk-icon [class.color_secondary]="!_showFilter" [class.color_primary]="_showFilter" [name]="'icon-filter-conus-filled'"></itsk-icon>
    </button>
  }
  @if (showColumnsButton) {
    <button
      (click)="changeColumns()"
      [class.button_secondary]="!_showColumns"
      [class.button_primary]="_showColumns"
      >
      <itsk-icon
        [class.color_secondary]="!_showColumns"
        [class.color_primary]="_showColumns"
        [name]="'icon-wrench-repair-filled'"
      ></itsk-icon>
    </button>
  }
  @for (button of panelButtons; track button) {
    <ng-template [ngTemplateOutlet]="button.templateRef"></ng-template>
  }
</div>

@if (panelContent) {
  <ng-template [ngTemplateOutlet]="panelContent.templateRef"></ng-template>
}

@if (showDetailsButton && detailComponent) {
  <div class="container container_column container_auto align-end">
    <button (click)="changeDetails()" [class.button_secondary]="!_showDetails" [class.button_primary]="_showDetails">
      {{ (dict | async)?.detail }}
    </button>
  </div>
}
