@if (breadcrumbItems$ | async; as breadcrumbItems) {
  @for (breadcrumbItem of breadcrumbItems; track breadcrumbItem) {
    <itsk-dropdown style="flex-grow: 0" [fixed]="true">
      <ng-template itskDropdownHead>
        <itsk-icon class="breadcrumb__delimiter" [name]="'icon-chevron_right-arrow-outline'"></itsk-icon>
        <span class="breadcrumb__item-name" (click)="navigate(breadcrumbItem.active)">
          {{ breadcrumbItem.active.name }}
        </span>
      </ng-template>
      <ng-template itskDropdownContent>
        <div class="list">
          @for (menuItem of breadcrumbItem.items; track menuItem) {
            <div
              class="list__item"
              (click)="navigate(menuItem)"
              [class.list__item_active]="menuItem === breadcrumbItem.active"
              >
              {{ menuItem.name }}
            </div>
          }
        </div>
      </ng-template>
    </itsk-dropdown>
  }
  @if (!breadcrumbItems.length) {
    <itsk-icon class="breadcrumb__delimiter" [name]="'icon-chevron_right-arrow-outline'"></itsk-icon>
    <span class="breadcrumb__item-name">
      {{ defaultTitle }}
    </span>
  }
}
