<itsk-grid-head-dropdown [state]="state$"></itsk-grid-head-dropdown>
<itsk-grid-head class="grid__head" [state]="state$" [selectType]="selectType" [selectRowsBy]="selectRowsBy"></itsk-grid-head>
<itsk-grid-body
  #gridBody
  class="grid__body"
  [virtual]="virtual"
  [editOn]="editOn"
  [activeRow]="activeRow"
  [additionalComponent]="additionalComponent"
  [grouping]="grouping"
  [groupingType]="groupingType"
  [groupRowComponent]="groupRowComponent"
  [openLevels]="openLevels"
  [selectType]="selectType"
  [selectRowsBy]="selectRowsBy"
  [tree]="tree"
></itsk-grid-body>
@if (aggregateComponent) {
  <itsk-grid-aggregate
    [data]="aggregate"
    [aggregateComponent]="aggregateComponent"
    class="grid__aggregate"
  ></itsk-grid-aggregate>
}
