<div class="container align-center height-14 padding-h-8 border-b-1px border-color_secondary">
  <itsk-dropdown style="flex-grow: 0">
    <ng-template itskDropdownHead>
      <button class="button_secondary">
        <itsk-icon [name]="'icon-menu_more_horizont-point-circle-dot-filled'"></itsk-icon>
      </button>
    </ng-template>
    <ng-template itskDropdownContent>
      <div class="list">
        <div class="list__item"></div>
      </div>
    </ng-template>
  </itsk-dropdown>
  <itsk-select
    class="container_auto margin-h-3"
    [virtual]="false"
    [disabled]="templates === null || templates === undefined || templates.length < 1"
  ></itsk-select>
  <itsk-toggle [(ngModel)]="showActive" [leftLabel]="true">Активные</itsk-toggle>
</div>
<div class="container container_column container_auto flex-shrink scrollbar">
  <ng-container *ngFor="let filter of filters$">
    <div *ngIf="filter.filterable || hasFilterableLeafs(filter)" class="padding-h-8 margin-b-3">
      <itsk-filter-wrapper
        *ngIf="filter.filterable && filter.filterComponent && isLeaf(filter) && showFilter(filter, state$, showActive)"
        [column]="filter"
        [state]="state$"
        (filterChanged)="filterChanged($event)"
      ></itsk-filter-wrapper>
      <itsk-filter-group-wrapper
        *ngIf="!isLeaf(filter) && hasFilterableLeafs(filter)"
        [showActive]="showActive"
        [column]="filter"
        [state]="state$"
        (filterChanged)="filterChanged($event)"
      ></itsk-filter-group-wrapper>
    </div>
  </ng-container>
</div>
<div class="container align-center height-14 padding-h-8">
  <button class="button_secondary" (click)="clearAll()">
    <itsk-icon [name]="'icon-filter_clear-conus-x-filled'" class="margin-r-2"></itsk-icon>
    {{ (dict | async)?.clear }}
  </button>
  <div class="container container_column container_auto align-end">
    <button class="button_primary" (click)="applyFilters()">{{ (dict | async)?.apply }}</button>
  </div>
</div>
