<div
  class="datepicker__input"
  [class.datepicker__input_show-second]="showSecond"
  [class.datepicker__input_borderless]="borderless"
  [class.datepicker__input_disabled]="disabled"
  [tabIndex]="disabled ? -1 : 0"
  (focus)="activate(true)"
  (itskClickOutside)="activate(false)"
  [visible]="active"
  (dblclick)="dataInputDoubleClick($event)"
  >
  @for (format of formatList$; track format) {
    @if (showFormat && isEditableFormat(format)) {
      <span
        class="datepicker__input-part"
        (focus)="dataPartFocus($event, format)"
        (click)="dataPartFocus($event, format)"
        (wheel)="dataPartScroll($event, format)"
        [attr.data-format]="format"
        >{{ formatValue[format] }}</span
        >
      }
      @if (showFormat && !isEditableFormat(format)) {
        <span class="datepicker__input-part">{{ format }}</span>
      }
    }
  </div>
