default = {
  background-color: #fff
  color: #4C4C4C
  border-color: #E0E0E0
}

secondary = {
  background-color: #E7E8E7
  color: #626362
  border-color: #C0C1C0
}

primary = {
  background-color: #626362
  color: #D3E0E9
  border-color: #626362
}

ghost = {
  background-color: #fff
  color: #626362
  border-color: #626362
}

success = {
  background-color: #D9EDDD
  color: #00891E
  border-color: #00891E
}

warning = {
  background-color: #E3B100
  color: #000
  border-color: #E3B100
}

error = {
  background-color: #FFE3E7
  color: #FF465C
  border-color: #FF465C
}

info = {
  background-color: #F7F7F7
  color: #216293
  border-color: #E1E2E1
}

focus = {
  background-color: #FFF3E4
  color: #02A7F0
  border-color: #02A7F0
}

work = {
  default: default
  secondary: secondary
  primary: primary
  ghost: ghost
  success: success
  warning: warning
  error: error
  info: info
  focus: focus
}
