default = {
  background-color: #22872C
  color: #EFF5F0
  border-color: #44934C
}

secondary = {
  background-color: #23802C
  color: #FFFFFF
  border-color: #619967
}

primary = {
  background-color: #842B7D
  color: #FFFFFF
  border-color: #842B7D
}

ghost = {
  background-color: #237F2C
  color: #92BE94
  border-color: #92BE94 
}

success = {
  background-color: #00891E
  color: #fff
  border-color: #00891E
}

warning = {
  background-color: #E3B100
  color: #000
  border-color: #E3B100
}

error = {
  background-color: #FF465C
  color: #fff
  border-color: #FF465C
}

info = {
  background-color: #27772E
  color: #BCD7BD
  border-color: #007D51
}

focus = {
  background-color: #23772B
  color: #FFFFFF
  border-color: #00DB72
}

main = {
  default: default
  secondary: secondary
  primary: primary
  ghost: ghost
  success: success
  warning: warning
  error: error
  info: info
  focus: focus
}
