<itsk-grid-panel
  *ngIf="showActionPanel"
  class="grid-wrapper__panel"
  [panelButtons]="panelButtons"
  [panelContent]="panelContent"

  [showDetails]="showDetails"
  [showFilter]="showFilter"
  [showColumns]="showColumns"
  [showCustom]="showCustom"

  [showDetailsButton]="showDetailsButton"
  [showFilterButton]="showFilterButton"
  [showColumnsButton]="showColumnsButton"
  [detailComponent]="detailComponent"

  (showDetailsChange)="setShowDetails($event)"
  (showFilterChange)="setShowFilter($event)"
  (showColumnsChange)="setShowColumns($event)"
  (showCustomChange)="setShowCustom($event)">
</itsk-grid-panel>
<div class="grid-wrapper__container">
  <div class="grid-wrapper__sidebar" *ngIf="showFilter || showColumns || showCustom">
    <itsk-filter-panel
      class="container container_column container_auto"
      *ngIf="showFilter"
      [columns]="columns"
      [state]="state"
      (stateChange)="setState($event)"></itsk-filter-panel>
    <itsk-grid-columns-settings
      class="container container_column container_auto scrollbar"
      *ngIf="showColumns"
      [columns]="columns"
      (columnsChange)="columns=$event"></itsk-grid-columns-settings>
    <ng-container *ngIf="showCustom">
      <ng-container *ngFor="let custom of panelCustom">
        <ng-template [ngTemplateOutlet]="custom.templateRef"></ng-template>
      </ng-container>
    </ng-container>
  </div>
  <itsk-grid
    #grid
    [cookieName]="cookieName"
    [aggregateComponent]="aggregateComponent"
    [additionalComponent]="additionalComponent"
    [data]="data"
    [columns]="columns"
    [activeRow]="activeRow"
    (activeRowChange)="activeRow = $event;activeRowChange.emit($event)"
    [selectedRows]="selectedRows"
    (selectedRowsChange)="selectedRows = $event; selectedRowsChange.emit($event)"
    [selectRowsBy]="selectRowsBy"
    [selectType]="selectType"
    [state]="state"
    (stateChange)="state = $event;stateChange.emit($event)"
    (rowClick)="rowClick.emit($event)"
    (rowDoubleClick)="rowDoubleClick.emit($event)"
    (rowLeft)="rowLeft.emit($event)"
    (rowEditStart)="rowEditStart.emit($event)"
    (rowEditEnd)="rowEditEnd.emit($event)"
    (cellFocus)="cellFocus.emit($event)"
    (cellEditStart)="cellEditStart.emit($event)"
    (cellEditEnd)="cellEditEnd.emit($event)"
    (valueChange)="valueChange.emit($event)"
    (cellDoubleClick)="cellDoubleClick.emit($event)"
    (cellClick)="cellClick.emit($event)"
    (cellKeyUp)="cellKeyUp.emit($event)"
    (bodyLeft)="bodyLeft.emit($event)"
    [virtual]="virtual"
    [aggregate]="aggregate"
    [editOn]="editOn"
    [editType]="editType"
    [editMode]="editMode"
    [grouping]="grouping"
    [tree]="tree"
    [openLevels]="openLevels"
    [groupingType]="groupingType"
    [groupRowComponent]="groupRowComponent"
    [rowEditable]="rowEditable"
    [cellEditable]="cellEditable"
    [rowSelectable]="rowSelectable"
    [stateful]="stateful">
  </itsk-grid>
  <div class="grid-wrapper__sidebar grid-wrapper__sidebar_detail" *ngIf="showDetails && detailComponent">
    <itsk-grid-detail
      [row]="activeRow"
      [columns]="columns"
      [detailComponent]="detailComponent"></itsk-grid-detail>
  </div>
</div>
<div class="grid-wrapper__pager" *ngIf="showPager">
  <itsk-pager
    [paging]="paging"
    (pagingChange)="updatePaging($event)"></itsk-pager>
</div>
