@use 'sass:map';
@use './color.scss';
@use 'util/shape-util.scss';
@use 'util/state-util.scss';

.accordion {
  &__item {
    @include shape-util.baseShape(map.get(color.$blocks, 'work', 'default'));
    @include shape-util.baseRadius();

    &_head {
      padding: 12px 24px;
      display: flex;
      @include state-util.baseState(map.get(color.$blocks, 'work', 'secondary', 'background-color'));

      &_content {
        flex-grow: 1;
      }
    }

    &_content {
      padding: 12px 24px;
    }
  }
}
