@use 'sass:map';
@use './color.scss';
@use 'util/button-util.scss';

@each $accentName, $accent in map.get(color.$blocks, 'work') {
  .button_#{$accentName} {
    @include button-util.buttonAccent($accent);
  }
  .button__delimiter_#{$accentName} {
    @include button-util.buttonDelimiterAccent($accent);
  }
}

@each $blockName, $blockItem in color.$blocks {
  .block-#{$blockName} {
    @include button-util.button($blockItem);
    @include button-util.buttonDelimiter($blockItem);
  }
}

.button__group {
  display: inline-flex;
  align-items: center;

  & > button,
  div {
    border-radius: 0 !important;
  }

  & > button:first-child,
  div:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }

  & > button:last-child,
  div:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
}
