@import './color.scss';
@import 'util/button-util.scss';

@each $accentName, $accent in map-get($blocks, 'work') {
  .button_#{$accentName} {
    @include buttonAccent($accent);
  }
  .button__delimiter_#{$accentName} {
    @include buttonDelimiterAccent($accent);
  }
}

@each $blockName, $blockItem in $blocks {
  .block-#{$blockName} {
    @include button($blockItem);
    @include buttonDelimiter($blockItem);
  }
}

.button__group {
  display: inline-flex;
  align-items: center;

  & > button, div {
    border-radius: 0 !important;
  }

  & > button:first-child, div:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }

  & > button:last-child, div:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
}
