@use 'sass:map';
@use './color.scss';
@use 'util/shape-util.scss';
@use 'util/shadow-util.scss';
@use 'vars';

.dropdown {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  min-width: 0;

  &__head {
    position: relative;
    display: inline-flex;
    flex-grow: 1;
    min-width: 0;

    &:hover {
      cursor: pointer;
    }

    &__container {
      display: inline-flex;
      flex-grow: 1;
    }
  }

  &__container {
    display: inline-flex;
    flex-grow: 1;
  }

  &__content {
    z-index: 3;
    @include shape-util.baseBorder(map.get(color.$blocks, 'work', 'default'));
    @include shadow-util.shadow-b(vars.$shadow-1);

    &_top {
      background: red;
      @include shadow-util.shadow-t(vars.$shadow-1);
    }

    &_right,
    &-absolute {
      position: absolute;
      top: 100%;
      right: 0;
      left: auto;
      min-width: 100%;
    }

    &-absolute {
      position: absolute;
      top: 100%;
      left: 0;
      right: auto;
      min-width: 100%;
    }

    &-fixed {
      position: fixed;
      top: auto;
      left: auto;
    }
  }
}

@each $blockName, $blockItem in color.$blocks {
  .block-#{$blockName} .dropdown__content {
    @include shape-util.baseBorder(map.get($blockItem, 'default'));
  }
}
