@use 'util/font-util.scss';
@use 'vars.scss';

$font-h1: (
  font-size: vars.$font-size-h1,
  line-height: vars.$line-height-h1,
  font-weight: 300,
  font-style: normal,
);
$font-h2: (
  font-size: vars.$font-size-h2,
  line-height: vars.$line-height-h2,
  font-weight: 300,
  font-style: normal,
);
$font-h3: (
  font-size: vars.$font-size-h3,
  line-height: vars.$line-height-h3,
  font-weight: 300,
  font-style: normal,
);
$font-h4: (
  font-size: vars.$font-size-h4,
  line-height: vars.$line-height-h4,
  font-weight: normal,
  font-style: normal,
);
$font-h5: (
  font-size: vars.$font-size-h5,
  line-height: vars.$line-height-h5,
  font-weight: normal,
  font-style: normal,
);
$font-h6: (
  font-size: vars.$font-size-h6,
  line-height: vars.$line-height-h6,
  font-weight: 500,
  font-style: normal,
);
$font-title1: (
  font-size: vars.$font-size-title1,
  line-height: vars.$line-height-title1,
  font-weight: normal,
  font-style: normal,
);
$font-title2: (
  font-size: vars.$font-size-title2,
  line-height: vars.$line-height-title2,
  font-weight: 500,
  font-style: normal,
);
$font-title3: (
  font-size: vars.$font-size-title3,
  line-height: vars.$line-height-title3,
  font-weight: bold,
  font-style: normal,
);
$font-body1: (
  font-size: vars.$font-size-body1,
  line-height: vars.$line-height-body1,
  font-weight: normal,
  font-style: normal,
);
$font-body2: (
  font-size: vars.$font-size-body2,
  line-height: vars.$line-height-body2,
  font-weight: normal,
  font-style: normal,
);
$font-body3: (
  font-size: vars.$font-size-body3,
  line-height: vars.$line-height-body3,
  font-weight: normal,
  font-style: normal,
);
$font-button1: (
  font-size: vars.$font-size-button1,
  line-height: vars.$line-height-button1,
  font-weight: 500,
  font-style: normal,
);
$font-button2: (
  font-size: vars.$font-size-button2,
  line-height: vars.$line-height-button2,
  font-weight: 500,
  font-style: normal,
);
$font-button3: (
  font-size: vars.$font-size-button3,
  line-height: vars.$line-height-button3,
  font-weight: normal,
  font-style: normal,
);
$font-caption: (
  font-size: vars.$font-size-caption,
  line-height: vars.$line-height-caption,
  font-weight: normal,
  font-style: normal,
);
$font-overline: (
  font-size: vars.$font-size-overline,
  line-height: vars.$line-height-overline,
  font-weight: normal,
  font-style: normal,
  letter-spacing: 0.04rem,
  text-transform: uppercase,
);

$fonts-hash: (
  'h1': $font-h1,
  'h2': $font-h2,
  'h3': $font-h3,
  'h4': $font-h4,
  'h5': $font-h5,
  'h6': $font-h6,
  'title1': $font-title1,
  'title2': $font-title2,
  'title3': $font-title3,
  'body1': $font-body1,
  'body2': $font-body2,
  'body3': $font-body3,
  'button1': $font-button1,
  'button2': $font-button2,
  'button3': $font-button3,
  'caption': $font-caption,
  'overline': $font-overline,
);

@each $fontName, $fontHash in $fonts-hash {
  .font-#{$fontName} {
    @include font-util.fontHelperImportant($fontHash);
  }
}

.font-overline {
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}
