@import 'vars.scss';
@import './color.scss';

.icon {
  width: 1.6rem;
  height: 1.6rem;
  text-align: center;
  flex-shrink: 0;
  font-size: 1.6rem;
  fill: map-get($blocks, 'work', 'default', 'color');
}

@each $blockName, $blockItem in $blocks {
  .block-#{$blockName} {
    @each $accentName, $accent in $blockItem {
      .color_#{$accentName} .icon {
        fill: map-get($accent, 'color');
      }
      svg.color_#{$accentName} {
        fill: map-get($accent, 'color') !important;
      }
      //&.color_{accentName}, .color_{accentName}
      //  fill: accent.color !important;
      //.icon
      //  fill accent.color
    }
  }
}

@each $accentName, $accent in map-get($blocks, 'work') {
  .color_#{$accentName} .icon {
    fill: map-get($accent, 'color');
  }

  svg.color_#{$accentName} {
    fill: map-get($accent, 'color') !important;
  }
}
