@import './color.scss';
@import 'util/input-util.scss';
@import 'util/font-util.scss';
@import 'util/scrollbar-util.scss';

.control {
  &__label {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: map-get($blocks, 'work', 'default.color');

    &-delimiter {
      position: relative;
      padding-right: $space-4;

      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        content: "";
        margin: 0 $space-1;
        width: $space-2;
        height: map-get($borderSize, '1px');
        background-color: map-get($blocks, 'work', 'default', 'border-color');
      }
    }

    &_inline {
      flex-direction: row;
      align-items: center;
    }

    &__text {
      margin-top: $space-1;
      margin-bottom: $space-1;
      margin-right: $space-2;
      flex-shrink: 0;
      @include fontHelper($font-title3);
      color: map-get($blocks, 'work', 'default', 'color');
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@each $blockName, $blockItem in $blocks {
  .block-#{$blockName} {
    @include control($blockItem);
  }
}

.input {
  position: relative;

  &__icon {
    height: $space-8;
    width: $space-8;
    line-height: $space-8 !important;
    text-align: center;
    color: map-get($blocks, 'work', 'default', 'color');

    &-left {
      position: absolute;
      top: 0;
      left: 0;
    }

    &-right {
      position: absolute;
      top: 0;
      right: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__field {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    padding: 0 $space-3 0 $space-3;
    min-height: $space-8;
    line-height: $space-8;
    @include fontHelper($font-body3);
    width: 100%;
    @include inputField(map-get($blocks, 'work'));

    &_error {
      border-color: map-get($work, 'error', 'border-color');
    }

    &_warning {
      border-color: map-get($work, 'warning', 'border-color');
    }

    &::placeholder {
      color: map-get($work, 'default', 'color');
    }

    &_textarea {
      height: 100%;
      resize: none;
      padding: $space-2 $space-3;
      @include scrollbarBasis();
      @include scrollbarHidden();
    }

    &_icon_left {
      padding-left: $space-8;
    }

    &_icon_right {
      padding-right: $space-8;
    }

    &::placeholder, &[disabled] {
      opacity: 0.5;
    }
  }

  &_required {
    &:after {
      content: '*';
      position: absolute;
      bottom: 100%;
      right: $space-1;
      color: map-get($blocks, 'work', 'error', 'color');
      display: block;
      font-size: 1.6rem;
    }
  }

  &_optional {
    &:after {
      content: '*';
      position: absolute;
      bottom: 100%;
      right: $space-1;
      color: map-get($blocks, 'work', 'success', 'color');
      display: block;
      font-size: 1.6rem;
    }
  }

  &__helper {
    font-size: $font-size-overline;
    color: map-get($blocks, 'work', 'default', 'color');
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@each $blockName, $blockItem in $blocks {
  .block-#{$blockName} {
    @include input($blockItem);
  }
}

.file-upload {
  display: flex;
  border: dashed 3px map-get($blocks, 'work', 'default', 'border-color');

  &-button {
    position: relative;
  }

  &__label {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__input {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__content {
    flex-grow: 1;
    display: flex;
  }
}
