@use 'sass:math';
@use 'sass:map';
@use './color.scss';
@use './vars.scss';
@use 'util/layout-util.scss';

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  display: flex;
  height: vars.$space-14;
  padding: 0 vars.$space-6;
  align-items: center;
  flex-shrink: 0;
  @include layout-util.toolbarBlock(map.get(color.$blocks, 'work'));
}

@each $blockName, $blockItem in color.$blocks {
  .block-#{$blockName} {
    @include layout-util.toolbar($blockItem);
  }
}

/*column width calc*/
@function widthCol($n) {
  @return math.div(100%, vars.$columns-count) * $n;
}

.container {
  display: flex;

  &_column {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  @for $n from 1 through vars.$columns-count {
    &_#{$n} {
      flex: 0 0 widthCol($n);
      min-width: 0;
      min-height: 0;
    }
  }

  &_auto {
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
  }
}

.overlay-container {
  position: fixed;
  z-index: 10;
  width: 0;
  height: 0;
}
