@import 'util/marker-util.scss';

@each $accentName, $accent in map-get($blocks, 'work') {
  .marker_#{$accentName} {
    @include marker();
    @include markerAccent($accent);
  }
}

@each $blockName, $blockItem in $blocks {
  .block-#{$blockName} {
    @each $accentName, $accent in $blockItem {
      .marker_#{$accentName} {
        @include marker();
        @include markerAccent($accent);
      }
    }
  }
}
