@use 'sass:map';
@use 'vars';
@use 'color';
@use 'util/navigation-util';

.navigation {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(black, 0.4);
  @include navigation-util.navigationBlock(map.get(color.$blocks, work));

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    padding: vars.$space-5 vars.$space-3 vars.$space-3 vars.$space-6;
  }

  &__footer {
    padding: vars.$space-3 vars.$space-3 vars.$space-3 vars.$space-6;
  }

  & .menu_absolute {
    position: static;
    z-index: 0;
  }
}

@each $blockName, $blockItem in color.$blocks {
  .block-#{$blockName}.navigation {
    @include navigation-util.navigationBlock($blockItem);
  }
  .block-#{$blockName} {
    .navigation {
      @include navigation-util.navigationBlock($blockItem);
    }
  }
}
