@use 'util/shape-util.scss';
@use 'util/card-util.scss';
@use 'util/shadow-util.scss';
@use 'vars';

.notification {
  position: relative;
  margin: vars.$space-3;
  @include card-util.card();
  @include shadow-util.shadow(vars.$shadow-3);
}

.notification__container {
  position: fixed;
  z-index: 5000;
  width: 300px;

  &_left {
    left: 48px;
    right: auto;
  }

  &_center {
    margin-left: -150px;
    left: 50%;
    right: auto;
  }

  &_right {
    right: 48px;
    left: auto;
  }

  &_top {
    top: 24px;
    bottom: auto;
  }

  &_middle {
    top: auto;
    bottom: auto;
  }

  &_bottom {
    bottom: 24px;
    top: auto;
  }
}
