@use 'sass:map';
@use './color.scss';
@use 'util/shape-util.scss';
@use 'util/button-util.scss';
@use 'util/pager-util.scss';

.pager {
  display: flex;
  align-items: center;
  background: map.get(color.$blocks, 'work', 'default', 'background-color');
  color: map.get(color.$blocks, 'work', 'default', 'color');

  &__dropdown {
    @include shape-util.baseRadius();
    & {
      position: absolute;
      bottom: 100%;
      right: 0;
      white-space: nowrap;
      z-index: 1;
    }
    @include shape-util.baseShape(map.get(color.$blocks, 'work', 'default'));
  }

  &__button__move {
    @include button-util.buttonAccent(map.get(color.$blocks, 'work', 'secondary'));
  }

  &__button__count {
    @include button-util.buttonAccent(map.get(color.$blocks, 'work', 'secondary'));
  }

  &__button__page {
    @include button-util.buttonAccent(map.get(color.$blocks, 'work', 'default'));
  }
}

@each $blockName, $blockItem in color.$blocks {
  .block-#{$blockName} {
    @include pager-util.pager($blockItem);
  }
}
