@import './color.scss';
@import 'util/shape-util.scss';
@import 'util/button-util.scss';
@import 'util/pager-util.scss';

.pager {
  display: flex;
  align-items: center;
  background: map-get($blocks, 'work', 'default', 'background-color');
  color: map-get($blocks, 'work', 'default', 'color');

  &__dropdown {
    @include baseRadius();
    position: absolute;
    bottom: 100%;
    right: 0;
    white-space: nowrap;
    z-index: 1;
    @include baseShape(map-get($blocks, 'work', 'default'));
  }

  &__button__move {
    @include buttonAccent(map-get($blocks, 'work', 'secondary'));
  }

  &__button__count {
    @include buttonAccent(map-get($blocks, 'work', 'secondary'));
  }

  &__button__page {
    @include buttonAccent(map-get($blocks, 'work', 'default'));
  }
}

@each $blockName, $blockItem in $blocks {
  .block-#{$blockName} {
    @include pager($blockItem);
  }
}
