@import 'color';
@import 'util/scrollbar-util';

@each $blockName, $blockItem in $blocks {
  .block-#{$blockName} {
    @include scrollbar($blockItem);
  }
}

.scrollbar {
  @include scrollbarBasis();
  &_invisible {
    @include scrollbarInvisible();
  }
  &_hidden {
    @include scrollbarHidden();
  }
}
