@import './color.scss';
@import './vars.scss';
@import 'util/tabs-util.scss';

.tabs {
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;

    &__item {
      display: flex;
      align-items: center;
      height: $space-8;
      @include fontHelper($font-title3);
      padding: 0 16px;
      word-wrap: break-word;
      overflow: hidden;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.tabs {
  @include tabsBlock(map-get($blocks, 'work'));
}

@each $blockName, $blockItem in $blocks {
  .block-#{$blockName} {
    @include tabs($blockItem);
  }
}
