@use 'sass:map';
@use './color.scss';
@use './vars.scss';
@use 'font';
@use 'util/tabs-util.scss';
@use 'util/font-util.scss';

.tabs {
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;

    &__item {
      display: flex;
      align-items: center;
      height: vars.$space-8;
      @include font-util.fontHelper(font.$font-title3);
      padding: 0 16px;
      word-wrap: break-word;
      overflow: hidden;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.tabs {
  @include tabs-util.tabsBlock(map.get(color.$blocks, 'work'));
}

@each $blockName, $blockItem in color.$blocks {
  .block-#{$blockName} {
    @include tabs-util.tabs($blockItem);
  }
}
