@use 'sass:map';

$blockItem: (
  'n': 0%,
  'base': #000,
  'normal': #216293,
  'info': #f08200,
  'success': #00891e,
  'warning': #c3d300,
  'error': #ff465c,
  'focus': #02a7f0,
);
$default: (
  'background-color': mix(map.get($blockItem, 'normal'), map.get($blockItem, 'base'), map.get($blockItem, 'n')),
  'color': #d2d9de,
  'border-color': #1f5986,
);
$secondary: (
  'secondary': undefined,
  'color': #ffffff,
  'border-color': #1f5986,
);
$primary: (
  'background-color': undefined,
  'color': #ffffff,
  'border-color': #f08200,
);
$ghost: (
  'background-color': map.get($blockItem, 'normal'),
  'color': map.get($blockItem, 'normal'),
  'border-color': map.get($blockItem, 'normal'),
);
$success: (
  'background-color': undefined,
  'color': #fff,
  'border-color': #00891e,
);
$warning: (
  'background-color': undefined,
  'color': #000,
  'border-color': #e3b100,
);
$error: (
  'background-color': undefined,
  'color': #fff,
  'border-color': #ff465c,
);
$info: (
  'background-color': #558a8d,
  'color': #fff,
  'border-color': #558a8d,
);
$focus: (
  'background-color': #02a7f0,
  'color': #02a7f0,
  'border-color': #02a7f0,
);
$main: (
  'default': $default,
  'secondary': $secondary,
  'primary': $primary,
  'ghost': $ghost,
  'success': $success,
  'warning': $warning,
  'error': $error,
  'info': $info,
  'focus': $focus,
);
