@if (locked?.length) {
  <div
    class="grid__head__left"
    [style.flex-grow]="lockedFlex"
    [style.min-width.px]="lockedBasis"
    [style.flex-basis.px]="lockedBasis"
    >
    <ng-container>
      <div class="grid__head__row grid__head__row__left">
        @for (column of locked; track track(i, column); let i = $index) {
          @if (!column.hidden) {
            <itsk-grid-head-group
              class="grid__head__group"
              [rootIndex]="i"
              [selfIndex]="0"
              [column]="column"
              [allColumns]="columns"
              [state]="state$"
              [selectType]="selectType"
              [selectRowsBy]="selectRowsBy"
              [style.flex-grow]="column.flex"
              [style.flex-basis.px]="column.width"
              [style.min-width.px]="column.width"
            ></itsk-grid-head-group>
          }
        }
      </div>
    </ng-container>
  </div>
}
<div class="grid__head__right" [style.flex-grow]="unlockedFlex" [style.min-width.px]="unlockedBasis" [style.flex-basis.px]="unlockedBasis">
  @if (unlocked?.length) {
    <div class="grid__head__row">
      @for (column of unlocked; track track(i, column); let i = $index) {
        @if (!column.hidden) {
          <itsk-grid-head-group
            class="grid__head__group"
            [rootIndex]="i + locked?.length"
            [selfIndex]="0"
            [column]="column"
            [allColumns]="columns"
            [state]="state$"
            [selectType]="selectType"
            [selectRowsBy]="selectRowsBy"
            [style.flex-grow]="column.flex"
            [style.flex-basis.px]="column.width"
            [style.min-width.px]="column.width"
          ></itsk-grid-head-group>
        }
      }
      @if (isChromium) {
        <div style="flex-grow: 1; min-width: 0; flex-shrink: 0; max-width: 6px; flex-basis: 6px"></div>
      }
    </div>
  }
</div>
