@if (column?.columns && column?.columns?.length > 0) {
  <div class="grid__head__group__container">
    <div class="grid__head__group__caption">
      {{ column.caption }}
    </div>
    <div class="grid__head__group__children">
      @for (col of column.columns; track col; let i = $index) {
        @if (!col.hidden) {
          <itsk-grid-head-group
            class="grid__head__group"
            [rootIndex]="rootIndex"
            [selfIndex]="i"
            [allColumns]="allColumns"
            [column]="col"
            [state]="state"
            [selectType]="selectType"
            [selectRowsBy]="selectRowsBy"
            [style.flex-grow]="col.flex"
            [style.flex-basis.px]="col.width"
            [style.min-width.px]="col.width"
          ></itsk-grid-head-group>
        }
      }
    </div>
  </div>
}
@if (!column?.columns || column?.columns?.length === 0) {
  @if (!column.hidden) {
    <itsk-grid-head-cell
      draggable="true"
      class="grid__head__cell"
      [rootIndex]="rootIndex"
      [selfIndex]="selfIndex"
      [style.flex-grow]="column.flex"
      [style.flex-basis.px]="column.width"
      [style.min-width.px]="column.width"
      [allColumns]="allColumns"
      [column]="column"
      [state]="state"
      [selectType]="selectType"
      [selectRowsBy]="selectRowsBy"
    ></itsk-grid-head-cell>
  }
}
