<div
  class="select__head"
  [class.select__head_focus]="focused$"
  [class.select__head-clear]="showClearButton && hasValue && !disabled"
  cdkOverlayOrigin
  #selectHead="cdkOverlayOrigin"
  (click)="open()"
>
  @if (valueTemplate) {
    <ng-container *ngTemplateOutlet="valueTemplate.templateRef; context: { $implicit: selectedItem$ }"></ng-container>
  }
  @switch (viewType) {
    @case (viewTypeEnum$.inline) {
      <ng-container *ngTemplateOutlet="textTemplate$ || defaultTextTemplate; context: { item: selectedItem$ }"></ng-container>
    }
    @case (viewTypeEnum$.template) {
      <ng-container *ngTemplateOutlet="selectedRef; context: { item: selectedItem$ }"></ng-container>
    }
    @case (viewTypeEnum$.inlineMulti) {
      <span class="select__head__text container_auto" [title]="getInlineMulti()">{{ getInlineMulti() }}</span>
    }
    @case (viewTypeEnum$.block) {
      <div class="select__values">
        <div class="select__values__title">Выбрано - {{ selectedItem$.length }} из {{ itemsCount }}</div>
        <div class="select__values__list">
          @for (item of selectedItem$; track item) {
            <div class="button_default margin-r-1 margin-b-1 padding-l-0">
              @if (!disabled) {
                <div
                  class="padding-2 container align-center"
                  (click)="_select(item); elementRef.nativeElement.focus(); $event.stopPropagation()"
                  tabindex="-1"
                >
                  <itsk-icon [name]="'icon-x-close-outline'"></itsk-icon>
                </div>
              }
              <ng-container *ngTemplateOutlet="textTemplate$ || defaultTextTemplate; context: { item: item }"></ng-container>
            </div>
          }
        </div>
      </div>
    }
    @case (viewTypeEnum$.templateMulti) {
      <div style="display: flex">
        @for (item of selectedItem$; track item) {
          <ng-container *ngTemplateOutlet="selectedRef; context: { item: item }"></ng-container>
        }
      </div>
    }
    @case (viewTypeEnum$.notSelected) {
      <span class="select_placeholder">{{ placeholder }}</span>
    }
    @case (viewTypeEnum$.notSelectedTemplate) {
      <ng-container *ngTemplateOutlet="placeholder"></ng-container>
    }
  }
  @if (showClearButton && hasValue && !disabled) {
    <itsk-icon [name]="'icon-x-close-outline'" class="select__icon-delete select__icon" (click)="clear($event)"></itsk-icon>
  }
  <itsk-icon [name]="'icon-triangle-down-arrow-filled'" class="select__icon"></itsk-icon>
</div>

<ng-template
  cdkConnectedOverlay
  (overlayOutsideClick)="close()"
  [cdkConnectedOverlayOrigin]="selectHead"
  [cdkConnectedOverlayOpen]="panelOpen"
>
  <div class="options" [style.min-width.px]="selectHead.elementRef.nativeElement.clientWidth" (keydown)="keyEvent($event)">
    @if (hasSearch) {
      <div class="padding-3">
        <input #searchInput class="input__field" type="search" [(ngModel)]="searchText" (focusout)="searchFocusout($event)" tabindex="-1" />
      </div>
    }
    @if (!virtual) {
      <div class="scrollbar" [style.max-height.px]="height">
        @for (item of viewItems$; track item; let index = $index) {
          <div
            class="options__item"
            [class.options__item_active]="_isSelected(item)"
            [class.options__item_focus]="index == focusedIndex$"
            [style.height.px]="itemSize"
            (click)="_select(item)"
            [itskMark]="searchText"
          >
            <ng-container *ngTemplateOutlet="textTemplate$ || defaultTextTemplate; context: { item: item }"></ng-container>
          </div>
        }
      </div>
    }
    @if (virtual) {
      <cdk-virtual-scroll-viewport class="scrollbar" [style.height.px]="height" [itemSize]="itemSize" minBufferPx="200" maxBufferPx="500">
        <div
          class="options__item"
          [class.options__item_active]="_isSelected(item)"
          [class.options__item_focus]="index == focusedIndex$"
          (click)="_select(item)"
          [itskMark]="searchText"
          *cdkVirtualFor="let item of viewItems$; let index = index; templateCacheSize: 0"
        >
          <ng-container *ngTemplateOutlet="textTemplate$ || defaultTextTemplate; context: { item: item }"></ng-container>
          @if (multiple && !textTemplate$ && _isSelected(item)) {
            <itsk-icon name="icon-checkbox_marker-check-outline" class="options__item__checkbox"></itsk-icon>
          }
          @if (optionTemplate) {
            <ng-container *ngTemplateOutlet="optionTemplate.templateRef; context: { item: item }"></ng-container>
          }
        </div>
      </cdk-virtual-scroll-viewport>
    }
  </div>
</ng-template>

<ng-template #defaultTextTemplate let-item="item">
  <span class="select__head__text container_auto" [title]="getText(item)">{{ getText(item) }}</span>
</ng-template>
