<div class="tabs__head" role="tablist">
  <div class="tabs__head__item"
       *ngFor="let tab of tabs"
       (click)="select(tab.id);"
       [class.tabs__head__item_active]="tab.id === activeId"
       [class.tabs__head__item_disabled]="tab.disabled">
    <span [id]="tab.id" class="nav-link"
          role="tab"
          [attr.tabindex]="(tab.disabled ? '-1': undefined)"
          [attr.aria-controls]="(!destroyOnHide || tab.id === activeId ? tab.id + '-panel' : null)"
          [attr.aria-expanded]="tab.id === activeId"
          [attr.aria-disabled]="tab.disabled">
      {{tab.title}}
      <ng-template [ngTemplateOutlet]="tab.titleTpl?.templateRef"></ng-template>
    </span>
  </div>
</div>
<div class="tabs__content">
  <ng-template ngFor let-tab [ngForOf]="tabs">
    <ng-container *ngIf="!destroyOnHide || tab.id === activeId">
      <ng-template [ngTemplateOutlet]="tab.contentTpl?.templateRef"></ng-template>
    </ng-container>
  </ng-template>
</div>
