<div class="scrollbar scrollbar_hidden container_auto menu__container">
  @for (item of items; track item) {
    <itsk-menu-item
      [template]="template"
      (itemClick)="navigate($event)"
      (itemToggle)="openItem($event)"
      [isOpen]="openChild === item"
      [item]="item"
    ></itsk-menu-item>
  }
  @for (group of groups; track group) {
    <div class="menu__group">
      <div class="menu__title">
        {{ group.name }}
      </div>
      @for (groupItem of group.items; track groupItem) {
        <itsk-menu-item
          (itemClick)="navigate($event)"
          (itemToggle)="openItem($event)"
          [template]="template"
          [isOpen]="openChild === groupItem"
          [item]="groupItem"
        ></itsk-menu-item>
      }
    </div>
  }
</div>
@if (openChild) {
  <itsk-menu-items
    [menu]="openChild.children"
    [template]="template"
    (itemClick)="navigate($event)"
    class="menu_absolute menu__items"
    (itskClickOutside)="clearChild()"
  ></itsk-menu-items>
}
