<div class="datepicker__panel__week">
  @for (day of weekDays; track day) {
    <div
      class="datepicker__panel__week__item"
      [class.datepicker__panel__week__item__holiday]="day === 0 || day === 6"
      >
      {{ locale.dayNamesMin[day] }}
    </div>
  }
</div>
<div class="datepicker__picker" (wheel)="scrollMonth($event)">
  @for (weekItem of weeks; track weekItem) {
    <div class="datepicker__picker__week">
      @for (day of weekItem; track day) {
        <div
          class="datepicker__picker__day"
          (click)="setDate(day, $event)"
          (dblclick)="applyValue(day, $event)"
          [class.datepicker__picker__day_other]="!day.isCurrentMonth"
          [class.datepicker__picker__day_active]="day.selected"
          [class.datepicker__picker__day_disabled]="day.disabled"
          [class.datepicker__picker__day_weekend]="day.weekend"
          [class.datepicker__picker__day_today]="day.today"
          >
          @if (day !== null && day !== undefined) {
            {{ day.date.getDate() }}
          }
        </div>
      }
    </div>
  }
</div>
