default = {
  background-color: #333333
  color: #FFFFFF
  border-color: #515151
}

secondary = {
  background-color: #3D3D3D
  color: #FFFFFF
  border-color: #515151
}

primary = {
  background-color: #F08200
  color: #FFFFFF
  border-color: #F08200
}

ghost = {
  background-color: #333333
  color: #FFFFFF
  border-color: #FFFFFF
}

success = {
  background-color: #00A725
  color: #FFFFFF
  border-color: #00A725
}

warning = {
  background-color: #E3B100
  color: #FFFFFF
  border-color: #E3B100
}

error = {
  background-color: #FF465C
  color: #FFECEE
  border-color: #FF465C
}

info = {
  background-color: #2E2E2E
  color: #FFFFFF
  border-color: #525252
}

focus = {
  background-color: #1F5D8C
  color: #FFFFFF
  border-color: #02A7F0
}

link = {
  background-color: #2E2E2E
  color: #F08200
  border-color: #525252
}

main = {
  default: default
  secondary: secondary
  primary: primary
  ghost: ghost
  success: success
  warning: warning
  error: error
  info: info
  focus: focus,
  link: link
}
