<itsk-dropdown [autoClose]="true" [(open)]="panelOpen" [canOpen]="!disabled" [fixed]="fixed">
  <ng-template itskDropdownHead>
    <div class="select__head" [class.select__head_focus]="focused">
      @if (valueTemplate) {
        <ng-container *ngTemplateOutlet="valueTemplate.templateRef; context: { $implicit: selectedItem }"></ng-container>
      }

      @switch (viewType) {
        @case (viewTypeEnum.inline) {
          <ng-container *ngTemplateOutlet="textTemplate || defaultTextTemplate; context: { item: selectedItem }"></ng-container>
        }
        @case (viewTypeEnum.template) {
          <ng-container *ngTemplateOutlet="selectedRef; context: { item: selectedItem }"></ng-container>
        }
        @case (viewTypeEnum.inlineMulti) {
          {{ getInlineMulti() }}
        }
        @case (viewTypeEnum.block) {
          <div class="select__values">
            <div class="select__values__title">Выбрано - {{ selectedItem && selectedItem.length }}из {{ itemsCount }}</div>
            <div class="select__values__list">
              @for (item of selectedItem; track item) {
                <div class="button_default margin-r-1 margin-b-1 padding-l-0">
                  @if (!disabled) {
                    <div
                      class="padding-2 container align-center"
                      (click)="_select(item); elementRef.nativeElement.focus(); $event.stopPropagation()"
                      tabindex="-1"
                    >
                      <itsk-icon [name]="'icon-x-close-outline'"></itsk-icon>
                    </div>
                  }
                  <ng-container *ngTemplateOutlet="textTemplate || defaultTextTemplate; context: { item: item }"></ng-container>
                </div>
              }
            </div>
          </div>
        }
        @case (viewTypeEnum.templateMulti) {
          <div style="display: flex">
            @for (item of selectedItem; track item) {
              <ng-container *ngTemplateOutlet="selectedRef; context: { item: item }"></ng-container>
            }
          </div>
        }
        @case (viewTypeEnum.notSelected) {
          <span class="select_placeholder">{{ placeholder }}</span>
        }
        @case (viewTypeEnum.notSelectedTemplate) {
          <ng-container *ngTemplateOutlet="placeholder"></ng-container>
        }
      }

      @if (showClearButton && hasValue && !disabled) {
        <i class="icon icon-delete select__icon-delete select__icon" (click)="erase()"></i>
      }
      <itsk-icon [name]="'icon-triangle-down-arrow-filled'" class="select__icon"></itsk-icon>
    </div>
  </ng-template>
  <ng-template itskDropdownContent>
    <div class="options">
      @if (hasSearch) {
        <div class="padding-3">
          <input
            #searchInput
            class="input__field"
            type="search"
            [(ngModel)]="searchText"
            (focusout)="searchFocusout($event)"
            tabindex="-1"
          />
        </div>
      }

      <itsk-tree
        [data]="items"
        [open]="panelOpen"
        [control]="treeControl"
        class="scrollbar"
        [style.max-height]="height"
        style="padding-left: 24px"
      >
        <itsk-tree-item
          *itskTreeTemplate="let item; let control = control"
          [style.display]="hiddenItems.has(item) ? 'none' : ''"
          [style.height]="itemSize + 'px'"
          [itskMark]="!hasChildren(item) ? searchText : ''"
          (click)="allowSelection(item) ? _select(item) : control.toggle(item)"
        >
          @if (hasChildren(item)) {
            <div class="tree__toggle" (click)="control.toggle(item); $event.stopPropagation()">
              <i
                class="icon tree__toggle_icon"
                [class.icon-plus-square]="!control.isExpanded(item)"
                [class.icon-minus-square]="control.isExpanded(item)"
              ></i>
            </div>
          }
          <div [class.options__item_active]="_isSelected(item)" [class.options__item_focus]="item === focusedItem">
            @if (hasChildren(item)) {
              <ng-container
                *ngTemplateOutlet="
                  groupTemplate || textTemplate || defaultTextTemplate;
                  context: { item: item, expanded: control.isExpanded(item) }
                "
              ></ng-container>
            }
            @if (!hasChildren(item)) {
              <ng-container *ngTemplateOutlet="textTemplate || defaultTextTemplate; context: { item: item }"></ng-container>
            }
          </div>
        </itsk-tree-item>
      </itsk-tree>
    </div>
  </ng-template>
</itsk-dropdown>
<ng-template #defaultTextTemplate let-item="item">
  <span class="select__head__text">{{ getText(item) }}</span>
</ng-template>
