<button class="pager__button__move" (click)="paginateToPage(paging.page - 1)" [disabled]="paging.page < 1">
  <itsk-icon [name]="'icon-less-left-chevron-arrow-outline'"></itsk-icon>
</button>
@for (page of paging.pages; track page) {
  <div
    class="pager__button__page"
    (click)="paginateToPage(page)"
    [class.pager__button__page_active]="page == paging.page"
    >
    {{ page + 1 }}
  </div>
}
<button class="pager__button__move" (click)="paginateToPage(paging.page + 1)" [disabled]="paging.page >= paging.count - 1">
  <itsk-icon [name]="'icon-more-right-chevron-arrow-outline'"></itsk-icon>
</button>
@if (config | async; as dict) {
  @if (pageSizeSelection) {
    <div class="display-inline-block margin-l-4">
      {{ dict.pageSize }}
      <div class="position-relative display-inline-block margin-l-2">
        <div class="pager__button__count container align-center" (click)="startPageSelection($event)">
          <span>{{ paging.pageSize }}</span>
          <itsk-icon [name]="'icon-roll_down-triangle-filled'" class="margin-l-2"></itsk-icon>
        </div>
        @if (pageSelection) {
          <span class="pager__dropdown" (itskClickOutside)="endPageSelection()" [visible]="pageSelection">
            @for (size of _pageSizeList; track size) {
              <button class="pager__button__page" (click)="setPageSize(size)">
                {{ size }}
              </button>
            }
          </span>
        }
      </div>
    </div>
  }
  <div class="display-inline-block margin-l-3">{{ dict.pagesCount }}: {{ paging.count }}</div>
  @if (paging.totalCount !== null && paging.totalCount !== undefined && paging.totalCount > 0) {
    <div
      class="display-inline-block margin-l-3"
      >
      {{ dict.recordsCount }}: {{ paging.totalCount }}
    </div>
  }
}
