<div class="container padding-6">
  <div class="card base-shape margin-b-3 margin-r-2">
    <div>
      <i class="icon icon-bar-chart card-icon"></i>
      <div><a class="font-title2" [routerLink]="['data']">Просмотр данных</a></div>
    </div>
    <div class="card-content">
      <div class="font-body3">Посмотреть данные системы в виде таблиц или графиков</div>
    </div>
  </div>
  <div class="card base-shape margin-b-3 margin-l-2">
    <div>
      <i class="icon icon-settings card-icon"></i>
      <div><a class="font-title2" [routerLink]="['form']">Ввод данных</a></div>
    </div>
    <div class="card-content">
      <div class="font-body3">Добавить новые строки в данные системы</div>
    </div>
  </div>
</div>
