default = {
  background-color: #fff
  color: #4C4C4C
  border-color: #D6D6D6
}

secondary = {
  background-color: #D6D6D6
  color: #333333
  border-color: #ADADAD
}

primary = {
  background-color: #333333
  color: #FFFFFF
  border-color: #444444
}

ghost = {
  background-color: #fff
  color: #333333
  border-color: #33333
}

success = {
  background-color: #D2EED8
  color: #1EAB3D
  border-color: #1EAB3D
}

warning = {
  background-color: #E3B100
  color: #000000
  border-color: #E3B100
}

error = {
  background-color: #FFDADE
  color: #FF465C
  border-color: #FF465C
}

info = {
  background-color: #EBEBEB
  color: #F08200
  border-color: #C2C2C2
}

focus = {
  background-color: #FFF3E4
  color: #2D2D2D
  border-color: #02A7F0
}

link = {
  background-color: #EAEAEA
  color: #F08200
  border-color: #C2C2C2
}

work = {
  default: default
  secondary: secondary
  primary: primary
  ghost: ghost
  success: success
  warning: warning
  error: error
  info: info
  focus: focus,
  link: link
}
