$default: (
  'background-color': #1d3d59,
  'color': #d3dbe8,
  'border-color': #3f709a,
);
$secondary: (
  'background-color': #2f5677,
  'color': #ffffff,
  'border-color': #5b8bb5,
);
$primary: (
  'background-color': #e8730c ,
  'color': #ffffff,
  'border-color': #f08200,
);
$ghost: (
  'background-color': #1d3d59,
  'color': #b9dbf0,
  'border-color': #b9dbf0,
);
$success: (
  'background-color': #178a55,
  'color': #ffffff,
  'border-color': #2fae6e,
);
$warning: (
  'background-color': #b88300,
  'color': #ffffff,
  'border-color': #e0a81a,
);
$error: (
  'background-color': #d6303f,
  'color': #ffffff,
  'border-color': #e85c5c,
);
$focus: (
  'background-color': #0078d2,
  'color': #ffffff,
  'border-color': #ff8424,
);
$info: (
  'background-color': #1a466c,
  'color': #ffb066,
  'border-color': #3f709a,
);
$main: (
  'default': $default,
  'secondary': $secondary,
  'primary': $primary,
  'ghost': $ghost,
  'success': $success,
  'warning': $warning,
  'error': $error,
  'info': $info,
  'focus': $focus,
);
