$default: (
  'background-color': #1d3d59,
  'color': #b6c0d5,
  'border-color': #1f507a,
);
$secondary: (
  'background-color': #2f5677,
  'color': #ffffff,
  'border-color': #38678f,
);
$primary: (
  'background-color': #ff993b,
  'color': #ffffff,
  'border-color': #f08200,
);
$ghost: (
  'background-color': #1d3d59,
  'color': #99c6e3,
  'border-color': #99c6e3,
);
$success: (
  'background-color': #22c38e,
  'color': #ffffff,
  'border-color': #22c38e,
);
$warning: (
  'background-color': #f0b55d,
  'color': #ffffff,
  'border-color': #f0b55d,
);
$error: (
  'background-color': #ff465c,
  'color': #ffedef,
  'border-color': #ff465c,
);
$focus: (
  'background-color': #0070ba,
  'color': #ffffff,
  'border-color': #ff8424,
);
$info: (
  'background-color': #1a466c,
  'color': #ff8424,
  'border-color': #1f5d8c,
);
$main: (
  'default': $default,
  'secondary': $secondary,
  'primary': $primary,
  'ghost': $ghost,
  'success': $success,
  'warning': $warning,
  'error': $error,
  'info': $info,
  'focus': $focus,
);
