$blockItem: (
        'n': 10%,
        'base': #fff,
        'normal': #216293,
        'info': #F08200,
        'success': #00891E,
        'warning': #C3D300,
        'error': #FF465C,
        'focus': #02A7F0
);
$bg: (
        'default': mix(map-get($blockItem, 'normal'), map-get($blockItem, 'base'), map-get($blockItem, 'n')),
        'secondary':  undefined ,
        'primary':  undefined ,
        'info': map-get($blockItem, '$info'),
        'success':  undefined ,
        'warning':  undefined ,
        'error':  undefined ,
        'focus':  undefined
);
$line: (
        'default': mix(map-get($blockItem, 'normal'), map-get($blockItem, 'base'), map-get($blockItem, 'n')),
        'secondary':  undefined ,
        'primary':  undefined ,
        'info': map-get($blockItem, '$info'),
        'success':  undefined ,
        'warning':  undefined ,
        'error':  undefined ,
        'focus':  undefined
);
