$blockItem: (
  'n': 10%,
  'base': #fff,
  'normal': #216293,
  'info': #f08200,
  'success': #00891e,
  'warning': #c3d300,
  'error': #ff465c,
  'focus': #02a7f0,
);
$bg: (
  'default': mix(map-get($blockItem, 'normal'), map-get($blockItem, 'base'), map-get($blockItem, 'n')),
  'secondary': undefined,
  'primary': undefined,
  'info': map-get($blockItem, '$info'),
  'success': undefined,
  'warning': undefined,
  'error': undefined,
  'focus': undefined,
);
$line: (
  'default': mix(map-get($blockItem, 'normal'), map-get($blockItem, 'base'), map-get($blockItem, 'n')),
  'secondary': undefined,
  'primary': undefined,
  'info': map-get($blockItem, '$info'),
  'success': undefined,
  'warning': undefined,
  'error': undefined,
  'focus': undefined,
);
