<itsk-dropdown [fixed]="true">
  <ng-template itskDropdownHead>
    <i class="icon icon-gaz"></i>
  </ng-template>
  <ng-template itskDropdownContent>
    <div class="list">
      <div class="list__item" [class.list__item_active]="currentTheme === 'grafit'" (click)="setTheme('grafit')">Графит</div>
      <div class="list__item" [class.list__item_active]="currentTheme === 'default'" (click)="setTheme('default')">Г</div>
      <div class="list__item" [class.list__item_active]="currentTheme === 'green'" (click)="setTheme('green')">Еще одна</div>
    </div>
  </ng-template>
</itsk-dropdown>
