@if (index === 0) {
  <div class="container align-center" [style.margin-left.px]="index === 0 ? row.level * 20 : 0">
    @if ((selectType === 'single' || selectType === 'multiple') && selectRowsBy === 'checkbox') {
      <div class="grid__cell__icon">
        <itsk-checkbox [ngModel]="selectedRows" [value]="row" (ngModelChange)="selectRow()"></itsk-checkbox>
      </div>
    }
    @if (
      (tree === true && row.children?.length > 0) || (grouping === true && groupingType === GroupingType.SingleGroupCell && row.isGroup)
      ) {
      <itsk-grid-expand
        [row]="row"
        >
      </itsk-grid-expand>
    }
    @if (additionalComponent) {
      <div class="grid__cell_text grid__cell__icon" (click)="row.showAdditional = !row.showAdditional">
        <itsk-icon
          [name]="row.showAdditional ? 'icon-group_square_min-minus-rectangle-filled' : 'icon-group_square_max-plus-rectangle-filled'"
        ></itsk-icon>
      </div>
    }
  </div>
}
<itsk-grid-cell-wrapper [row]="row" [column]="column"></itsk-grid-cell-wrapper>
