@use 'sass:map';
@use '../vars.scss';

@mixin breadcrumb($blockItem) {
  &.breadcrumb,
  & .breadcrumb {
    color: map.get($blockItem, 'default', 'color');
    &__item-name {
      color: map.get($blockItem, 'default', 'color');
    }
  }
}
