@use 'sass:map';
@use '../vars.scss';
@use 'shape-util';
@use '../font';
@use 'font-util';
@use 'state-util.scss';

@mixin button($blockItem) {
  @each $accentName, $accent in $blockItem {
    &__button_#{$accentName},
    &.button_#{$accentName},
    & .button_#{$accentName} {
      @include buttonAccent($accent);
      @include state-util.baseFocus($blockItem);
    }
  }
}

@mixin buttonAccent($accent) {
  @include shape-util.baseRadius();
  & {
    border: solid 1px transparent;
    min-height: vars.$space-8;
    height: vars.$space-8;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    min-width: vars.$space-8;
    white-space: nowrap;
    padding: 0 vars.$space-3;
    color: map.get($accent, 'color');
  }
  @include font-util.fontHelper(font.$font-button2);
  @include state-util.baseState(map.get($accent, 'background-color'));
  @include state-util.cursorPointer();
}

@mixin buttonDelimiter($blockItem) {
  @each $accentName, $accent in $blockItem {
    &__button-delimiter_#{$accentName},
    &.button-delimiter_#{$accentName},
    & .button-delimiter_#{$accentName} {
      @include buttonDelimiterAccent($accent);
    }
  }
}

@mixin buttonDelimiterAccent($accent) {
  display: inline-block;
  width: 1px;
  background: map.get($accent, 'background-color');
}
