@mixin checkbox($blockItem) {
  &.checkbox,
  & .checkbox {
    @include checkboxBlock($blockItem);
  }
}

@mixin checkboxBlock($blockItem) {
  &__icon {
    fill: map-get($blockItem, 'default', 'border-color');
    //border: solid 1px blockItem.default.border-color;
    color: map-get($blockItem, 'default', 'color');
    & .icon {
      background: map-get($blockItem, 'default', 'background-color');
    }
    &_unchecked .icon {
      fill: map-get($blockItem, 'primary', 'background-color');
    }
    &_checked .icon {
      color: map-get($blockItem, 'primary', 'color');
      //background-color blockItem.primary.background-color
      fill: map-get($blockItem, 'primary', 'background-color');
      //border: solid 1px blockItem.primary.background-color;
    }
  }

  &__label {
    color: map-get($blockItem, 'default', 'color');
  }

  &:focus &__icon {
    border: 1px solid map-get($blockItem, 'focus', 'border-color');
  }
}

@mixin toggle($blockItem) {
  &.toggle,
  & .toggle {
    @include toggleBlock($blockItem);
  }
}

@mixin toggleBlock($blockItem) {
  &__icon {
    border: solid 1px map-get($blockItem, 'secondary', 'border-color');
    background: map-get($blockItem, 'secondary', 'background-color');

    &_checked {
      background: map-get($blockItem, 'primary', 'background-color');
    }

    &__circle {
      border: solid 1px map-get($blockItem, 'secondary', 'border-color');
      background: map-get($blockItem, 'default', 'background-color');
    }
  }

  &_success {
    .toggle__icon_checked {
      background: map-get($blockItem, 'success', 'background-color');
    }
  }

  &_warning {
    .toggle__icon_checked {
      background: map-get($blockItem, 'warning', 'background-color');
    }
  }

  &_error {
    .toggle__icon_checked {
      background: map-get($blockItem, 'error', 'background-color');
    }
  }

  &__label {
    color: map-get($blockItem, 'default', 'color');
  }
}

@mixin radio($blockItem) {
  &.radio,
  & .radio {
    @include radioBlock($blockItem);
  }
}

@mixin radioBlock($blockItem) {
  color: map-get($blockItem, 'default', 'color');

  &_error {
    & .radio__icon {
      border-color: map-get($blockItem, 'error', 'border-color');
    }

    & .radio__icon-inner {
      background-color: map-get($blockItem, 'error', 'color');
    }
  }

  &_warning {
    & .radio__icon {
      border-color: map-get($blockItem, 'warning', 'border-color');
    }
    & .radio__icon-inner {
      background-color: map-get($blockItem, 'warning', 'color');
    }
  }

  &__icon {
    border: map-get($borderSize, '2px') solid map-get($blockItem, default, border-color);

    &-inner {
      background-color: map-get($blockItem, 'secondary', 'color');
    }
  }
}
