@use 'shape-util.scss';

@mixin hint($blockItem) {
  @each $accentName, $accent in $blockItem {
    &__hint__container_#{$accentName},
    &.hint__container_#{$accentName},
    & .hint__container_#{$accentName} {
      @include shape-util.baseShape($accent);
    }
  }
}
