@use 'sass:map';
@use '../vars';
@use 'state-util.scss';

@mixin marker() {
  display: inline-flex;
  align-items: center;
  margin-right: vars.$space-2;
  padding: 0 vars.$space-2;
  border-radius: vars.$borderRadius-5;
}

@mixin markerAccent($accent) {
  background-color: map.get($accent, 'background-color');
  color: map.get($accent, 'color');
}
