@use 'sass:map';
@use '../vars';
@use '../color';
@use 'shape-util';
@use 'state-util';
@use 'list-util';

@mixin menu($blockItem) {
  &.menu,
  & .menu {
    @include menuBlock($blockItem);
  }
}

@mixin menuBlock($blockItem) {
  @include list-util.listBlock($blockItem);

  &__toolbar {
    background: map.get($blockItem, info, background-color);
  }

  &__root {
    @include shape-util.baseShape(map.get($blockItem, default));
  }

  &_absolute {
    border: 1px solid map.get($blockItem, default, border-color);
  }

  &__container {
    @include shape-util.baseBackground(map.get($blockItem, default));
    @include shape-util.baseColor(map.get($blockItem, default));
  }

  &__item {
    &_open {
      background: state-util.darkOrLight(map.get($blockItem, default, background-color), 10%);

      &:hover {
        background: state-util.darkOrLight(map.get($blockItem, default, background-color), 10%);
      }
    }

    &__name {
      color: map.get($blockItem, default, color);
    }

    &_active {
      background: map.get($blockItem, primary, background-color);
    }

    &_active &__name {
      color: map.get($blockItem, primary, color);
    }

    &_active:hover {
      background: map.get($blockItem, primary, background-color);
    }
  }
}

@each $blockName, $blockItem in color.$blocks {
  .block-#{$blockName} {
    @include menu($blockItem);
  }
}
