@use 'sass:map';
@use 'state-util.scss';
@use 'shape-util.scss';
@use 'button-util.scss';

@mixin pager($blockItem) {
  &_pager,
  &.pager,
  & .pager {
    background: map.get($blockItem, 'default', 'background-color');
    color: map.get($blockItem, 'default', 'color');

    &__dropdown {
      @include shape-util.baseRadius();
      position: absolute;
      bottom: 100%;
      right: 0;
      white-space: nowrap;
      z-index: 1;
      @include shape-util.baseShape(map.get($blockItem, 'default'));
    }

    &__button__move {
      @include button-util.buttonAccent(map.get($blockItem, 'secondary'));
    }

    &__button__count {
      @include button-util.buttonAccent(map.get($blockItem, 'secondary'));
    }

    &__button__page {
      @include button-util.buttonAccent(map.get($blockItem, 'default'));
    }
  }
}
