@use 'sass:map';
@use '../vars';
@use '../color';

@mixin scrollbarBasis() {
  overflow: auto;
  -ms-scrollbar-highlight-color: transparent;
  -ms-scrollbar-width: thin;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  @include scrollbarBlock(map.get(color.$blocks, 'work'));
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: vars.$borderRadius-1;
  }
  &::-webkit-scrollbar-track {
    border: 0;
    border-radius: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

@mixin scrollbarInvisible() {
  overflow-x: visible;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin scrollbarHidden() {
  &::-webkit-scrollbar-thumb {
    background-color: transparent !important;
  }
  &:hover::-webkit-scrollbar-thumb {
    background: rgba(map.get(color.$blocks, 'work', 'primary', 'background-color'), 50%) !important;
  }
}

@mixin scrollbar($blockItem) {
  &__scrollbar,
  &.scrollbar,
  & .scrollbar {
    @include scrollbarBlock($blockItem);
  }
}

@mixin scrollbarBlock($blockItem) {
  -ms-scrollbar-arrow-color: map.get($blockItem, 'primary', 'background-color');
  -ms-scrollbar-track-color: map.get($blockItem, 'default', 'background-color');
  -ms-scrollbar-base-color: transparent;
  -ms-scrollbar-darkshadow-color: transparent;
  -ms-scrollbar-face-color: map.get($blockItem, 'primary', 'background-color');
  -ms-scrollbar-shadow-color: transparent;
  &::-webkit-scrollbar-thumb {
    background: rgba(map.get($blockItem, 'primary', 'background-color'), 50%);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(map.get($blockItem, 'primary', 'background-color'), 70%);
  }

  &::-webkit-scrollbar-thumb:active {
    background: rgba(map.get($blockItem, 'primary', 'background-color'), 85%);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
